.form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ccc;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #f9fdfd;
    color: #080707;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
  }
  .notice-success
  {
    color: green !important;
  }
  .notice-error{
    color: red !important;
  }